.image-gallery {
    position: relative;
    display: block;
    width: 70px ;
    height: 70px;
    animation-duration: 4s;
}



.image-gallery a {
    position: absolute;
}


.image-gallery :nth-child(odd) {
    transform: rotate(10deg);
}
.image-gallery :nth-child(even) {
    transform: rotate(-5deg);
}

.image-gallery :first-child {
    z-index: 1000 ;
    transform: rotate(0);
}



.image-gallery :hover :nth-child(odd) {
    transform: rotate(30deg);
}

.image-gallery :hover :nth-child(even) {
    transform: rotate(-15deg);
}


.button-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center ;
}


.scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;

}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


/* .image-gallery .link:nth-child(odd) {
    transform: rotate(30deg);
}

.image-gallery .link:nth-child(even) {
    transform: rotate(-30deg);
}

.image-gallery .link:first-child {
    position: relative;
    transform: rotate(0deg);
    z-index: 1000   ;

}
.image-gallery .link {
  
} */
