@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


@font-face {
    font-family: "Janna LT";
    src: url("../fonts/JannaLT/JannaLT-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Janna LT";
    src: url("../fonts/JannaLT/JannaLT-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import "./../../node_modules/fortawesome/fontawesome-free/css/all.min.css";*/
/*@import './../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';*/
/*@import "@fortawesome/fontawesome-free/css/all.min.css";*/


/* your styles.css or resources/css/app.css */
#category .swiper-slide-active {
    @apply text-white;
}

#category .swiper-slide-active > .category-image {
    @apply bg-white/10 border-[3px] border-[#126B65];
}


#products .swiper-slide-active {
    @apply text-teal-600;
}

#products .swiper-slide-active > .product-image {
    @apply bg-white/10 border-[3px] border-[#126B65];
}

.reviews-swiper .swiper-slide-active > div {
    @apply bg-[#0B2F34] text-[#66898f] ;
}


.reviews-swiper .swiper-slide-active  .client_name {
    @apply  text-[#F7FFFE] ;


.swiper-pagination-bullet {
    @apply w-3 h-3 bg-gray-400 opacity-50 rounded-full mx-1;
}
.swiper-pagination-bullet-active {
    @apply bg-[#126B65] opacity-100;
}


}
#about-reviews .swiper-slide-active > div {
    @apply bg-[#0B2F34] text-[#66898f] ;
}


#about-reviews .swiper-slide-active  .client_name {
    @apply  text-[#F7FFFE] ;
}
